body{
  background-color:#f8f3d4;
}

hr{
  border-color: grey;
  border-width: 5px;

  border-style: none;
  border-top-style: dotted;
  width: 5%;
}
h1{
  color: #00b8a9;
}
h3{
  color: #00b8a9;
}
h4{
  color: #00b8a9;
}
h2{
  color: #00b8a9;
}
